@use '../../assets/css/basics/variables' as vars;
@use '../../assets/css/basics/animations' as anim;

.contactame-container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100dvh;
  padding-top: 70px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @include vars.stylesBasedOnSize('small') {
    padding-top: 4rem;
  }

  .titulo-trabajos {
    position: relative;
    z-index: 10;
    width: 100%;
    margin: 0;
    color: vars.$colorSecundario;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contac-form-container {
    position: relative;
    z-index: 10;
    min-height: 70vh;
    width: 40%;
    padding: 1rem;
    backdrop-filter: blur(20px);
    background-color: vars.$transparentBlack;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 768px) {
      width: 90%;
      padding: 1rem !important;
    }

    .title-contact {
      width: 100%;
      margin: 5px 0;
      padding: 0;
      text-align: center;
      font-size: 3rem;
      font-weight: bold;
      color: vars.$blanco;

      @media (max-width: 425px) {
        font-size: 2rem;
      }
    }

    .general-label {
      font-size: 1.1em;
      font-weight: bold;
      color: vars.$gris2;
      margin-bottom: 0.3em;
    }

    @mixin inputsBoxes($w) {
      width: $w;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @mixin input-styles($width: 100%, $height: 40px, $min-height: null, $max-height: null) {
      outline: none;
      background-color: transparent;
      color: vars.$colorSecundario;
      width: $width;
      max-width: 100%;
      height: $height;
      padding: 10px;
      border: 1px solid vars.$colorSecundario;
      border-radius: 5px;
      transition: all 0.3s;

      &:focus {
        background-color: vars.$colorSecundario;
        color: vars.$blanco;

        &::placeholder {
          color: vars.$blanco;
        }
      }

      &:hover {
        background-color: vars.$colorSecundario;
        color: vars.$blanco;

        &::placeholder {
          color: vars.$blanco;
        }
      }

      &:not(:placeholder-shown) {
        background-color: vars.$blanco; // Fondo blanco para inputs llenos
        color: vars.$colorSecundario; // Color del texto en inputs llenos
      }

      &::placeholder {
        color: vars.$gris2;
        transition: all 0.3s;
      }

      @if $min-height !=null {
        min-height: $min-height;
      }

      @if $max-height !=null {
        max-height: $max-height;
      }
    }


    .form-input-box {
      @include inputsBoxes(50%);

      @include vars.stylesBasedOnSize('small') {
        width: 100%;
      }

      .text-input {
        @include input-styles(100%, 40px);
      }
    }

    .form-textarea-box {
      @include inputsBoxes(100%);

      .textarea-input {
        min-width: 100%;
        @include input-styles(100%, null, 100px, 200px);
      }
    }

    @mixin button-styles($bg-color, $text-color, $hover-bg-color: null, $hover-text-color: null, $hover-filter: null, $cursor: pointer) {
      width: 30%;
      height: 35px;
      padding: 0;
      margin: 0;
      border: none;
      color: $text-color;
      font-weight: bold;
      background-color: $bg-color;
      border-radius: 5px;
      transition: all 0.3s;
      cursor: $cursor;

      @if $hover-bg-color or $hover-text-color or $hover-filter {
        &:hover {
          @if $hover-bg-color {
            background-color: $hover-bg-color;
          }

          @if $hover-text-color {
            color: $hover-text-color;
          }

          @if $hover-filter {
            filter: $hover-filter;
          }
        }
      }
    }

    .buttons-container {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .btn-disabled {
        @include button-styles(vars.$gris1, vars.$blanco, null, null, null, not-allowed);
      }

      .btn-ok {
        @include button-styles(vars.$colorPrincipal,
          vars.$gris3,
          vars.$colorPrincipal,
          vars.$blanco,
          brightness(0.8));
      }

      .btn-cancel {
        @include button-styles(vars.$gris3,
          vars.$blanco,
          null,
          null,
          brightness(1.2));
      }
    }

  }
}

@include vars.stylesBasedOnSize('small') {
  .info-contact-container {
    .title-contact {
      font-size: 1.6rem;
    }

    .info-contact {
      font-size: 1.1rem;
    }
  }
}

@include vars.stylesBasedOnSize('medium') {
  .contac-form-container {
    justify-content: center;

    .info-contact-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title-contact {
        margin: 5px 0;
        padding: 0;
        font-size: 1.6em;
        font-weight: bold;
        color: vars.$colorPrincipal;
      }

      .info-contact {
        margin: 0;
        padding: 0;
        font-size: 1.2em;
        font-weight: bold;
        color: vars.$gris2;
      }
    }
  }

  .buttons-container {

    .btn-ok {
      width: 40%;
    }

    .btn-cancel {
      width: 40%;
    }
  }
}

.color-bg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
